/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.clickervolt-view {

    .unselectable {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
    }

    .full-width-textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .nowrap {
        white-space: nowrap;
        word-break: unset;
        word-wrap: unset;
        overflow-wrap: unset;
        -webkit-hyphens: unset;
        -moz-hyphens: unset;
        -ms-hyphens: unset;
        hyphens: unset;
    }

    .sub-panel {
        margin: 4px 0px 8px 0px;
        padding: 8px 10px 24px 10px;
        background-color:rgb(225, 235, 245);
        border: 1px dashed rgb(185, 195, 205);

        .sub-panel {
            background-color:rgb(215, 225, 235);
            border: 1px dashed rgb(175, 185, 195);
        
            .sub-panel {
                background-color:rgb(205, 215, 225);
                border: 1px dashed rgb(165, 175, 185);
            }
        }
    }

    .alert {
        color: #c00;
        font-weight: bold;
    }

    .button.opened {
        background: #eee;
        border-color: #999;
        box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
        transform: translateY(1px);
    }

    @import "jquery-ui.scss";
    @import "icons.scss";
    @import "errors.scss";
    @import "buttons.scss";
    @import "selects.scss";
    @import "inputs.scss";
    @import "tabs.scss";
    @import "datatables.scss";
    @import "datatables-treegrid.scss";
    @import "jquery.dropdown.scss";
    @import "view-dashboard.scss";
    @import "view-settings.scss";
    @import "view-newLink.scss";
    @import "view-trackingURL.scss";
    @import "view-news.scss";
    @import "stats.scss";
    @import "effects.scss";
}

// We need this outside .clickervolt-view because of the datatables "fixedheader" plugin.
// This plugin dynamically adds fixed footer tables just above </body>
table.dataTable tfoot.totals-row {
    tr {
        th.total {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}